@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;1,400&display=swap');
:root {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  font-family: Roboto;
  height: 100vh;
  margin: 0;
  display: flex;
  background-image: url(./images/world.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
}
.hero {
  width: max-content;
  margin: auto;
  text-align: center;
}
.hero h1 {
  margin: .1em 0;
}
.hero img {
  width: 9em;
}
.hero p {
  width: 43em;
  background-color: rgba(10, 10, 10, 0.37);
  border-radius: 1.5625em;
  padding: 1em;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 2em;
}
.hero .button {
  color: white;
  background-color: rgba(214, 154, 0, 0.58);
  padding: .5em 1.5em;
  border-radius: 1.5625em;
  font-size: 1.7em;
  text-decoration: none;
  user-select: none;
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 3.1vw;
  }
  .hero p {
    width: 17em;
  }
}